@import url("https://fonts.googleapis.com/css?family=Montserrat|Quicksand");
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
}
body {
  font-family: "Montserrat", Sans-Serif;
  background-color: #1da1f2;
  color: #ffffff;
  font-size: 12pt;
  font-weight: 800;
  padding: 5% 20%;
}
h1 {
  font-family: "Quicksand", Sans-Serif;
  font-size: 40pt;
}
h2 {
  font-size: 24pt;
}
br {
  display: block;
  margin: 10px 0;
}

.docuLink {
  text-decoration: none;
  font-weight: 800;
  color: #fff;
  background-color: #0066b2;
  padding: 10px 10px;
  transition: 0.2s ease-in-out;
}

.docuLink:hover {
  color: #ddd;
}

/* Thanks, Loni for this anim */
footer a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  position: relative; /*creates new positioning context so that manual sizing works below*/
  border-top: 5px solid #0066b2;
  padding: 0px 10px 5px 10px;
  margin: 0px 5px;
}

footer a::before {
  background-color: #0066b2;
  position: absolute; /*so that it overlaps*/
  z-index: -1; /*stay back bitch*/
  top: -5px; /*width and height are wack here so we use manual sizing instead*/
  bottom: 0;
  left: -0.2em;
  right: -0.2em;
  content: " "; /*so that the box doesnt get optimized away*/
  transition: 0.2s;
  transform: scaleY(0);
  transform-origin: top center; /*so that scale works from top to bottom*/
}
a:hover::before {
  transform: scaleY(1);
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 2.5vh;
  width: 100%;
  text-align: center;
  background-color: #373f47;
}
.container {
  position: relative;
  width: 75%;
}
#clipboard {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 5ch;
  border: 0;
  padding: 0;
  color: #333333;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.2s;
}
#clipboard:hover {
  color: #5c5c5c;
  background-color: #f0e2d1;
}
#linkOutput {
  background-color: #faf5ef;
  padding: 12px 20px;
  color: #333;
  border-radius: 5px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
}
#linkOutput > p {
  margin: 0;
}
#form {
  width: 100%;
}
input[type="text"] {
  display: block;
  width: 75%;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: inherit;
  font-size: 12pt;
  font-weight: 800;
  border: 0;
  margin-bottom: 1rem;
}
input[type="submit"] {
  display: block;
  border-radius: 5px;
  background-color: #faf5ef;
  border: none;
  text-decoration: none;
  padding: 12px 20px;
  transition: 0.2s;
  color: #333;
  font-family: inherit;
  font-size: 12pt;
  font-weight: 800;
  margin-bottom: 1rem;
}
input[type="submit"]:hover {
  background-color: #f0e2d1;
}
.about {
  width: 75%;
}
